:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  background: url("../images/bg-pattern-top.svg") no-repeat right 50vw bottom 50vh, url("../images/bg-pattern-bottom.svg") no-repeat left 50vw top 50vh;
  background-color: #19a2ae;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card {
  max-width: 350px;
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
}

.card-header {
  background: url("../images/bg-pattern-card.svg");
  min-height: 140px;
}

.card-main {
  text-align: center;
}

.card-main__avatar {
  border: 5px solid white;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 23%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.card-main__avatar img {
  vertical-align: middle;
}

.card-main__information {
  padding-top: 75px;
  margin-bottom: 10px;
}

.card-main__information .name {
  font-weight: 700;
  color: #2d3248;
}

.card-main__information .age {
  color: #969696;
}

.card-main__city .city {
  color: #969696;
}

.card-footer-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  margin-top: 25px;
  border-top: 1px solid #969696;
}

.card-footer-statistics .card-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-footer-statistics .amount {
  font-weight: 700;
  margin-bottom: 5px;
}

.card-footer-statistics .description {
  color: #969696;
  font-size: 12px;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.attribution {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
/*# sourceMappingURL=style.css.map */